<%- include('../layouts/header') %>
<form  id="formCountries">
  <div class="row mb-2" style="background: rgb(255, 255, 255); border-radius: 7px; padding-top: 10px;">
    <p style="font-weight: 400; color: #000; font-size: 18px;">Agregar país</p>
    <div class="col-md-12">
      <div class="form-group mb-3">
        <label for="pais" class="form-label">País</label>
        <input type="text" class="form-control form-control-sm" id="pais" name="pais" placeholder="Digite un país">
      </div>
      <div class="col-md-2">
        <div class="mb-2">
          <button type="submit" class="submit">Agregar</button>
        </div>
      </div>
    </div>
  </div>
</form>
<div class="row mb-2 pb-2" style="background: rgb(255, 255, 255); border-radius: 7px; padding-top: 10px;">
  <div class="col-md-12">
    <div class="col-md-12 pt-2 pb-2">
      <input type="text" class="form-control form-control-sm" placeholder="Buscar" id="buscar">
    </div>
  </div>
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-hover table-sm" id="table_countries" style="width: 100%;">
        <thead>
            <tr>
                <th scope="col">País</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody class="table-striped">
        </tbody>
      </table>
    </div>
  </div>
</div>
     
<div class="modal fade" id="countryModal" tabindex="-1" aria-labelledby="countryModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="countryModalLabel">Actualizar país</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="form_act_paises">
          <div class="mb-3">
            <input type="hidden" class="form-control" id="act_idpais" name="act_idpais">
          </div>
          <div class="mb-3">
            <label for="act_pais" class="col-form-label">País:</label>
            <input type="text" class="form-control" id="act_pais" name="act_pais">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <button type="submit" class="btn btn-primary">Actualizar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div> 

<script>
  $( document ).ready(function() {
    $('#table_countries').DataTable({
      columnDefs: [
                { "orderable": false, "targets": [1, 2] } 
                ],
      lengthChange: false,
      info: false,
      scrollX: true,
      scrollCollapse: true,
      ajax: {
        url: '/admin/table_countries',
        dataSrc: ''
      },
      columns: [
        { data: 'nombre',  className: 'text-center'  },
        {
        data: null,
        render: function(data, type, row) {
            return  '<button style="border:none; background-color: transparent;"  class="btn-delete" data-id="' + data.idpais + '"><i class="fa-solid fa-trash-can" style="font-size: 16px; color: red;"></i></button>';
        },
        className: 'text-center'
        },
        {
        data: null,
        render: function(data, type, row) {
            return `<button style="border:none; background-color: transparent;" class="btn-edit" data-id="` + data.idpais + `"><i class="fa-solid fa-pen" style="font-size: 16px; color: #000;"></i></button>`;
        },
        className: 'text-center'
        }
      ],
      dom: 'lrtip',
      language: {
          search: '',
          "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
      },
    });
  });

  $('#buscar').on('keyup', function () {
      $('#table_countries').DataTable().search(this.value).draw();
  });

  $('#formCountries').on('submit', function(event) {
    event.preventDefault(); // Prevenir el comportamiento por defecto
    let datosFormulario = $(this).serialize(); // Obtener los datos del formulario

    $.ajax({
      url: '/admin/countries',
      method: 'POST',
      data: datosFormulario,
      dataType: 'json',
      success: function(respuesta) {
        $('#table_countries').DataTable().ajax.reload();
        Swal.fire({
          title: 'País registrado',
          text: respuesta.mensaje,
          icon: 'success'
        });
        console.log(respuesta);
        $('#formCountries')[0].reset(); // Vaciar los campos del formulario
      },
      error: function(error) {
        Swal.fire({
          title: 'Error',
          text:  error.responseJSON.mensaje,
          icon: 'error'
        });
        console.log(error);
      }
    });
  });

  $(document).on('click', '.btn-delete', function() {
    const id = $(this).data('id');
      Swal.fire({
        title: '¿Estás seguro?',
        text: "¡No podrás revertir esto!",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: '¡Sí, bórralo!',
        cancelButtonText: 'Cancelar'
      }).then((resultado) => {
        if (resultado.isConfirmed) {
          $.ajax({
            url: '/admin/delete_countries/' + id,
            method: 'DELETE',
            success: function(respuesta) {
              $('#table_countries').DataTable().ajax.reload();
              Swal.fire(
                '¡Eliminado!',
                  respuesta.mensaje,
                'success'
              )
              console.log(respuesta);
            },
            error: function(error) {
              Swal.fire({
                title: 'Error',
                text:  error.responseJSON.mensaje,
                icon: 'error'
              });
              console.log(error);
            }
          });
        }
    });
  });

  $(document).on('click', '.btn-edit', function() {
    const id = $(this).data('id');
    $.ajax({
      url: '/admin/edit_countries/' + id,
      method: 'GET',
      success: function(paises) {
        // Rellenar el formulario con los datos del usuario
        $('#form_act_paises input[name="act_idpais"]').val(paises.idpais);
        $('#form_act_paises input[name="act_pais"]').val(paises.nombre);

        // Mostrar el formulario de edición
        $('#countryModal').modal('show');
      },
      error: function(error) {
        Swal.fire({
          title: 'Error',
          text:  error.responseJSON.mensaje,
          icon: 'error'
        });
        console.log(error);
      }
    });
  });

  $('#form_act_paises').submit(function(e) {
    e.preventDefault();
    const idpais = $('#form_act_paises input[name="act_idpais"]').val();
    const pais = $('#form_act_paises input[name="act_pais"]').val();

    $.ajax({
      url: '/admin/update_countries',
      method: 'POST',
      data: {id: idpais, pais: pais},
      success: function(respuesta) {
        $('#table_countries').DataTable().ajax.reload();
        $('#countryModal').modal('hide');
        Swal.fire({
              title: 'País actualizado',
              text: respuesta.mensaje,
              icon: 'success'
        });
        console.log(respuesta);
      },
      error: function(error) {
        Swal.fire({
          title: 'Error',
          text:  error.responseJSON.mensaje,
          icon: 'error'
        });
        console.log(error);
      }
    });
  });
</script>

<%- include('../layouts/footer') %>