<%- include('../layouts/header') %>
<style>
    .details-row {
        display: none;
    }
</style>
<div class="row mb-2" style="background: rgb(255, 255, 255); border-radius: 7px; padding-top: 10px;">
    <p style="font-weight: 400; color: #000; font-size: 18px;">Sistema de pago de cuotas</p>
    <div class="col-md-12">
        <div class="form-group mb-3 seleccion" id="seleccion_cliente">
            <label for="cliente" class="form-label">Cliente</label>
            <select name="cliente" class="form-select form-select-sm" id="cliente" placeholder="Seleccione una opción" required>
                <option>Seleccione una opción</option>
                <% for (let datos of clientes) { %>
                    <option value="<%= datos.idcliente %>"><%= datos.nombre %></option>
                <% } %>
            </select>
        </div>
    </div>
</div>
<div class="row mb-2 pb-2" style="background: rgb(255, 255, 255); border-radius: 7px; padding-top: 10px;">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-hover table-sm" id="tabla_prestamo_pago" style="width: 100%;">
                <thead>
                    <tr>
                        <th scope="col">Código</th>
                        <th scope="col">Cliente</th>
                        <th scope="col">Total</th>
                        <th scope="col">Saldo pendiente</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody class="table-striped">
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="prestamoModal" tabindex="-1" aria-labelledby="prestamoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
        <h1 class="modal-title fs-5" id="prestamoModalLabel">Pagar cuotas</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form id="form_detalle_prestamo" class="mb-4">
                <div class="row">
                    <div class="col-md-2">
                        <input type="hidden" id="det_idprestamo" name="det_idprestamo" value="">
                        <div class="form-group">
                            <label for="det_codigo" class="form-label mb-1" style="font-size: 13px;">Código</label>
                            <input type="text" class="form-control form-control-sm" name="det_codigo" value="" disabled>
                        </div>
                    </div>
                    <div class="col-md-4 mb-2">
                        <div class="form-group">
                            <label for="det_cliente" class="form-label mb-1" style="font-size: 13px;">Cliente</label>
                            <input type="text" class="form-control form-control-sm" id="det_cliente" name="det_cliente" value="" disabled>
                        </div>
                    </div>
                    <div class="col-md-3 mb-2">
                        <div class="form-group">
                            <label for="det_pendiente" class="form-label mb-1" style="font-size: 13px;">Saldo pendiente</label>
                            <input type="text" class="form-control form-control-sm" id="det_pendiente" name="det_pendiente" value="" disabled>
                        </div>
                    </div>
                    <div class="col-md-3 mb-2">
                        <label for="det_saldo_descuento" class="form-label mb-1" style="font-size: 13px;">Suma descuento</label>
                        <div class="input-group mb-3">
                           <!-- <div class="input-group-text">
                              <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text input" id="det_saldo_descuento_checkbox">
                            </div> -->
                            <input type="text" class="form-control form-control-sm aria-label="Text input with checkbox id="det_saldo_descuento" name="det_saldo_descuento" readonly>
                          </div>
                    </div>
                    <div class="col-md-4 reducir mb-2">
                        <div class="form-group">
                            <label for="seleccion_pago" class="form-label mb-1" style="font-size: 13px;">Monto a pagar</label>
                            <select id="seleccion_pago"  aria-label="Default select example" class="form-select form-select-sm" >
                                <option selected>Seleccione una opción</option>
                                <option value="1">Cuota completa</option>
                                <option value="2">Otro monto</option>
                              </select>
                        </div>
                    </div>
                    <div class="col-md-4 reducir mt-4">
                        <div class="form-group">
                            <input type="text" id="det_pago" readonly name="det_pago" class="form-control form-control-sm">
                        </div>
                    </div>
                    <div class="col-md-3 mb-2" style="display: none;" id="div-descuento">
                        <div class="form-group">
                            <label for="det_descuento" class="form-label mb-1" style="font-size: 13px;">Descuento</label>
                            <input type="text" id="det_descuento" name="det_descuento" class="form-control form-control-sm">
                        </div>
                    </div>
                    <div class="col-md-4 reducir mt-4">
                        <button type="submit" class="submit" id="pago">Pagar</button>
                    </div>
                </div>
            </form>
            <div class="table-responsive">
                <table class="table table-hover table-sm" id="tabla_cuota">
                    <thead>
                        <tr>
                            <th></th>
                            <th scope="col" style="font-size: 12px;">Cuota</th>
                            <th scope="col" style="font-size: 12px;">Fecha</th>
                            <th scope="col" style="font-size: 12px;">Principal</th>
                            <th scope="col" style="font-size: 12px;">Intereses</th>
                            <th scope="col" style="font-size: 12px;">Monto Cuota</th>
                            <th scope="col" style="font-size: 12px;">Estado</th>
                        </tr>
                    </thead>
                    <tbody class="table-striped">
                    </tbody>
                </table>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>
    </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        $(document).ajaxStart(function() {
            $('#loading-screen').show();
        });
        $(document).ajaxStop(function() {
            $('#loading-screen').hide();
        });
      
        $(document).on('change', '#cliente', function(){
            let id = $(this).val();
            $('#tabla_prestamo_pago').DataTable().destroy();
            $('#tabla_prestamo_pago').DataTable({
                columnDefs: [
                    { "orderable": false, "targets": [4] } 
                ],
                lengthChange: false,
                info: false,
                scrollX: true,
                scrollCollapse: true,
               // searching: false, 
                ajax: {
                    url: '/admin/table_loan_cliente/'+ id,
                    dataSrc: ''
                },
                columns: [
                    { data: 'codigo',  className: 'text-center'  },
                    { data: 'cliente',  className: 'text-center'  },
                    { data: 'total',  className: 'text-center'  },
                    { data: 'saldo_pendiente',  className: 'text-center'  },
                    {
                        data: null,
                        render: function(data, type, row) {
                            return  `<button style="border:none;  background:transparent; " class="btn-edit" data-id="` + data.idprestamo + `"><i class="fa-solid fa-file-invoice-dollar" style="font-size: 16px; color: #638b4c;"></i></button>`;
                        },
                        className: 'text-center'
                    }
                ],       
                dom: 'lrtip',
                language: {
                    search: '',
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
                },
            });
        });
    });
    descuento_tiemporeal()
    function descuento_tiemporeal() {
        const det_descuento = document.getElementById('det_descuento');
        const det_saldo_descuento = document.getElementById('det_saldo_descuento');
        const det_idprestamo = document.getElementById('det_idprestamo');
        
        det_descuento.addEventListener('input', function() {
            let valor_des_ingresado = det_descuento.value;
            
            if (!isNaN(valor_des_ingresado)) {
                if (valor_des_ingresado.length === 0) {
                    valor_des_ingresado = 0;
                } else {
                    valor_des_ingresado = parseFloat(parseFloat(det_descuento.value).toFixed(3));
                }
                console.log(valor_des_ingresado);
                const id = det_idprestamo.value;
                $.ajax({
                    url: '/admin/get_quota/' + id,
                    dataType: 'json',
                    type: 'GET',
                    success: function(respuesta) {
                    const arreglo_valor_real = [];
                        arreglo_valor_real[0] = respuesta.detalle_resultado[0].detalle_sumadescuento;
                        if (valor_des_ingresado === 0) {
                            det_saldo_descuento.value = arreglo_valor_real[0];
                        } else {
                            const total_descuento = arreglo_valor_real[0].split(" ");
                            det_saldo_descuento.value = total_descuento[0] + ' ' + ((parseFloat(total_descuento[1]) + valor_des_ingresado)).toFixed(3);
                        }
                    },
                    error: function(error) {
                    console.log(error);
                    }
                });
            }
        });
    }

    /*aplicar_descuento();
    function aplicar_descuento() {
        const det_saldo_descuento_checkbox = document.getElementById('det_saldo_descuento_checkbox');
        const det_saldo_descuento = document.getElementById('det_saldo_descuento');
        const det_pendiente = document.getElementById('det_pendiente');
        const det_descuento = document.getElementById('det_descuento');
        const arreglo_descuento = [];

        det_saldo_descuento_checkbox.addEventListener('change', function() {
            const valorInput_saldo_descuento = det_saldo_descuento.value;
            const valorDescuento = valorInput_saldo_descuento.split(" ");
            const valorInput_saldo_pendiente = det_pendiente.value;
            const valorPendiente = valorInput_saldo_pendiente.split(" ");
            arreglo_descuento[0] = valorDescuento[0];
            arreglo_descuento[1] = parseFloat(valorDescuento[1]);
            arreglo_descuento[2] = parseFloat(valorPendiente[1]);
            if (det_saldo_descuento_checkbox.checked) {
                det_descuento.readOnly = true;  
                det_pendiente.value = valorDescuento[0] + ' ' + ((arreglo_descuento[2] - arreglo_descuento[1]).toFixed(3));
            } else {
                det_descuento.readOnly = false;
                det_pendiente.value = valorDescuento[0] + ' ' + ((arreglo_descuento[2] + arreglo_descuento[1]).toFixed(3));
            }
        });
    }*/
    const cargar_cuotas = (id) => {
        $.ajax({
            url: '/admin/get_quota/' + id,
            dataType: 'json',
            type: 'GET',
            success: function(respuesta) {
                $('#prestamoModal').modal('show');
                $('#form_detalle_prestamo')[0].reset(); 
                $('#form_detalle_prestamo input[name="det_cliente"]').val(respuesta.detalle_resultado[0].cliente);
                $('#form_detalle_prestamo input[name="det_codigo"]').val(respuesta.detalle_resultado[0].codigo);
                $('#form_detalle_prestamo input[name="det_idprestamo"]').val(respuesta.detalle_resultado[0].idprestamo);
                $('#form_detalle_prestamo input[name="det_pendiente"]').val(respuesta.detalle_resultado[0].saldo_pendiente);
                $('#form_detalle_prestamo input[name="det_saldo_descuento"]').val(respuesta.detalle_resultado[0].detalle_sumadescuento);
                $('#pago').val(respuesta.detalle_resultado[0].idprestamo);
                $('#tabla_cuota tbody tr').empty();
                for (let i = 0; i < respuesta.resultado.length; i++) { 
                    let item = respuesta.resultado[i];
                    let html = '<tr style="text-align: center;  font-size: 12px;">';
                    html += '<td><button style="line-height: 1.2; background: #0096d2; color:#fff; text-align: center; font-weight: 600; border:none;  border-radius: 10px; width: 17px; height:17px;" class="details-control" data-idcuota="' + item.idcuota + '">+</button></td>';
                    html += '<td>' + item.cuota + '</td>';
                    html += '<td>' + item.fecha_pago + '</td>';
                    html += '<td>' + item.capital + '</td>';
                    html += '<td>' + item.interescorriente + '</td>';
                    html += '<td>' + item.abono + '</td>';
                    if(item.estado === 'Pendiente'){
                        html += '<td><p style="background-color: #FFD700; color: white; border-radius: 5px;">' + item.estado + '</p></td>';
                    }
                    else if(item.estado === 'Cancelado'){
                        html += '<td><p style="background-color: #008F39; color: white; border-radius: 5px;">' + item.estado + '</p></td>';
                    }
                    else if(item.estado === 'Parcial'){
                        html += '<td><p style="background-color:#4C2882; color: white; border-radius: 5px;">' + item.estado + '</p></td>';
                    }
                    else{
                        html += '<td><p style="background-color: #931323; color: white; border-radius: 5px;">' + item.estado + '</p></td>';
                    }
                    html += '</tr>';
                    $('#tabla_cuota').append(html);

                    // Agregar fila de detalles vacía
                    var detailsRow = $('<tr class="details-row"><td colspan="7"></td></tr>');
                    $('#tabla_cuota').append(detailsRow);
                }
                // Agregar última fila
                let lastRowHtml = '<tr style="text-align: center; background: #0c6efc !important; color: white;">';
                lastRowHtml += '<td colspan="3">Total</td>';
                lastRowHtml += '<td>' + respuesta.detalle_resultado[0].capital + '</td>';
                lastRowHtml += '<td>' + respuesta.detalle_resultado[0].interescorriente + '</td>';
                lastRowHtml += '<td>' + respuesta.detalle_resultado[0].abono + '</td>';
                lastRowHtml += '<td colspan="1"></td>';
                lastRowHtml += '</tr>';
                $('#tabla_cuota').append(lastRowHtml);
            },
            error: function(error) {
                console.log(error);
            }
        });
    };

    $('#tabla_cuota').on('click', '.details-control', function() {
        let id = $(this).data('idcuota');
        let row = $(this).closest('tr');
        let detailsRow = row.next('.details-row');
        if (detailsRow.is(':visible')) {
            // Si la fila de detalles ya está visible, ocultarla y cambiar el ícono a "+"
            detailsRow.hide();
            $(this).text('+');
        } else {
            // Si la fila de detalles está oculta, mostrarla y cambiar el ícono a "-"
            detailsRow.show();
            $(this).text('-');
            $.ajax({
                url: '/admin/sum_payment/' + id,
                type: 'GET',
                dataType: 'json',
                success: function(details) {
                     // Mostrar los detalles en la fila de detalles
                    let detailsCell = detailsRow.find('td');
                    let html = '';
                    if(details.obtener_pago.length > 0){
                        html = '<strong style="margin-right: 200px; font-weight: 600;">Fecha:</strong>'+'<strong style="font-weight: 600;">Monto:</strong>';
                        for (let i = 0; i < details.obtener_pago.length; i++) { 
                            let item = details.obtener_pago[i];
                            html += '<br> <p style="width:5px; margin-right: 10px;  display: inline-block; font-weight: 600;">'+ (i+1) + '.</p >' + '<p style="width:200px; margin-right: 30px;  display: inline-block;">'+ item.fecha_pago + '</p >' + '<p style="display: inline-block;">' + item.pago + '</p>';
                        }
                        html += '<div style="  border-bottom: 1px solid #ccc;"></div>' 
                        html += '<br> <p style="width:200px; margin-right: 45px;  display: inline-block; font-weight: 600;">Total</p >' + '<p style="display: inline-block;">' + details.total[0].pago + '</p>' ;
                        if(details.total[0].estado === 'Parcial'){
                            html += '<br> <p style="width:200px; margin-right: 45px; display: inline-block; font-weight: 600;">Saldo pendiente</p >' + '<p style="display: inline-block;">' + details.total[0].pendiente + '</p>' ;
                        }
                    }
                    html += '<br> <p style="width:200px; margin-right: 45px;  display: inline-block; font-weight: 600;">Estado</p >' + '<p style="display: inline-block;">' + details.total[0].estado + '</p>' ;
                    detailsCell.html(html);
                },
                error: function(error){
                    console.log(error);
                }
            });
        }
    });

    $(document).on('click', '.btn-edit', function() {
        const id = $(this).data('id');
        cargar_cuotas(id);
    });

    $(document).on('change', '#seleccion_pago', function(){
        let id = $(this).val();
        let pago = $('#det_pago');
        let elementos_pago;

        if (id === '2') {
            pago.val('');
            pago.prop('readOnly', false);
            $("#div-descuento").show();
            elementos_pago = $(".col-md-4.reducir");
            elementos_pago.removeClass("col-md-4 reducir").addClass("col-md-3 reducir");
        } else if (id === '1') {
            pago.prop('readOnly', true);
            $("#div-descuento").hide();
            elementos_pago = $(".col-md-3.reducir");
            elementos_pago.removeClass("col-md-3 reducir").addClass("col-md-4 reducir");
            let datosFormulario = $('#form_detalle_prestamo').serialize();
            $.ajax({
                url: '/admin/get_payments_quotas',
                type: 'POST',
                data: datosFormulario,
                dataType: 'json',
                success: function(respuesta) {
                    console.log(respuesta.abono)
                    $('#det_pago').val(respuesta);
                },
                error: function(error) {
                    console.log(error);
                }
            });
        }
    });

    $('#form_detalle_prestamo').on('submit', function(event) {
        event.preventDefault();
        const id = $(this).find(':submit').val();
        //const datosFormulario = $(this).serialize();
        let det_pago = $('#form_detalle_prestamo input[name="det_pago"]').val();
        let det_descuento = $('#form_detalle_prestamo input[name="det_descuento"]').val();
        let det_idprestamo = $('#form_detalle_prestamo input[name="det_idprestamo"]').val();
        let det_saldo_descuento;
        const det_saldo_descuento_checkbox = document.getElementById('det_saldo_descuento_checkbox');
       // if (det_saldo_descuento_checkbox.checked) {
            det_saldo_descuento = $('#form_detalle_prestamo input[name="det_saldo_descuento"]').val();
        /*} else {
            det_saldo_descuento = 0;
    
        }*/
        Swal.fire({
            title: '¿Quieres realizar el pago?',
            text: "¡No podrás revertir esto!",
            icon: 'question',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: '¡Sí, pagar!',
            cancelButtonText: 'Cancelar'
        }).then((resultado) => {
            if (resultado.isConfirmed) {
                $.ajax({
                    url: '/admin/payments_quotas',
                    type: 'POST',
                    data: {
                        det_pago: det_pago,
                        det_descuento: det_descuento,
                        det_idprestamo: det_idprestamo,
                        det_saldo_descuento: det_saldo_descuento
                    },
                    dataType: 'json',
                    success: function(respuesta) {
                        $('#tabla_prestamo_pago').DataTable().ajax.reload();
                        cargar_cuotas(id);
                        if(respuesta.mensaje === "Datos guardados correctamente"){
                            Swal.fire({
                                title: 'Pagos registrados',
                                text: respuesta.mensaje,
                                icon: 'success'
                            });
                        }
                        else if(respuesta.mensaje === "La cantidad ingresada es mayor a lo que debes en el prestamo"){
                            Swal.fire({
                                title: respuesta.mensaje,
                                icon: 'warning'
                            });
                        }
                        else{
                            Swal.fire({
                                title: '¡Felicidades!',
                                text: respuesta.mensaje,
                                icon: 'success',
                                //showConfirmButton: false, // Ocultar el botón de confirmación por defecto
                                //timer: 2000 // Duración en milisegundos (2 segundos)
                            }).then(function() {
                                window.location.href = '/admin/payments'; // Redireccionar a prestamos
                            });
                        }
                    },
                    error: function(error) {
                        Swal.fire({
                        title: 'Error',
                        text:  error.responseJSON.mensaje,
                        icon: 'error'
                        });
                        console.log(error);
                    }
                });
            }
        });  
    });
</script>
<%- include('../layouts/footer') %>