<%- include('../layouts/header') %>
<form  id="formTipo">
    <div class="row mb-2" style="background: rgb(255, 255, 255); border-radius: 7px; padding-top: 10px;">
        <div class="col-md-12">
            <p style="font-weight: 400; color: #000; font-size: 18px;">Agregar tipo de prestamo</p>
            <div class="form-group mb-3">
                <label for="descripcion" class="form-label">Descripción</label>
                <input type="text" class="form-control form-control-sm" id="descripcion" name="descripcion" placeholder="Digite un tipo de prestamo">
            </div>
            <div class="col-md-2">
                <div class="mb-2">
                    <button type="submit" class="submit">Agregar</button>
                </div>
            </div> 
        </div>
    </div>
</form>
<div class="row mb-2" style="background: rgb(253, 253, 253); border-radius: 7px; padding: 10px;">
    <div class="col-md-6 pt-2 pb-2">
        <div class="form-group">
            <select id="activo" class="form-control form-control-sm">
                <option value="1">Activo</option>
                <option value="0">Inactivo</option>
            </select>
        </div>
    </div>
    <div class="col-md-6 pt-2 pb-2">
        <input type="text" class="form-control form-control-sm" placeholder="Buscar" id="buscar">
    </div>
    <div class="col-md-12">
        <div class="table-responsive">
        <table class="table table-hover table-sm" id="tabla_tipo" style="width: 100%;">
            <thead>
                <tr>
                    <th scope="col">Descripción</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody class="table-striped">
            </tbody>
        </table>
        </div>
    </div> 
</div> 
<div class="modal fade" id="tipoModal" tabindex="-1" aria-labelledby="tipoModallLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="tipoModalLabel">Actualizar tipo de prestamo</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form id="actualizar_tipoprestamo">
                <div class="mb-3">
                    <input type="hidden" class="form-control" id="act_idtipoprestamo" name="act_idtipoprestamo">
                </div>
                <div class="form-group mb-3">
                    <label for="act_ciudad" class="form-label mb-2">Descripcion</label>
                    <input type="text" class="form-control" id="act_descripcion" name="act_descripcion">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Actualizar</button>
                </div>       
            </form>
        </div>
      </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        $(document).ajaxStart(function() {
            $('#loading-screen').show();
        });

        $(document).ajaxStop(function() {
            $('#loading-screen').hide();
        });

        cargar_tipoprestamo(1);
        function cargar_tipoprestamo(estado){
            $('#tabla_tipo').DataTable({
                columnDefs: [
                { "orderable": false, "targets": [1, 2] } 
                ],
                lengthChange: false,
                info: false,
                scrollX: true,
                scrollCollapse: true,
                ajax: {
                    url: '/admin/table_type/'+ estado,
                    dataSrc: ''
                },
                columns: [
                    { data: 'descripcion',  className: 'text-center'  },
                    {
                    data: null,
                    render: function(data, type, row) {

                        if(data.estado == 1){
                            return  `<button style="border:none; background-color: transparent;" class="btn-state" data-id="` + data.idtipoprestamo + `"><i class="fa-regular fa-circle-check" style="font-size: 16px; color: slateblue;"></i></button>`;
                        }
                        else{
                            return `<button style="border:none; background-color: transparent;" class="btn-state" data-id="` + data.idtipoprestamo + `"><i class="fa-regular fa-circle-check" style="font-size: 16px; color: red;"></i></button>`;
                        }
                    },
                    className: 'text-center'
                    },
                    {
                    data: null,
                    render: function(data, type, row) {
                        return `<button style="border:none; background-color: transparent;" class="btn-edit" data-id="` + data.idtipoprestamo + `"><i class="fa-solid fa-pen" style="font-size: 16px; color: #000;"></i></button>`;
                    },
                    className: 'text-center'
                    }
                ],       
                dom: 'lrtip',
                language: {
                    search: '',
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
                },
            });
        }

        $('#buscar').on('keyup', function () {
            $('#tabla_tipo').DataTable().search(this.value).draw();
        });

        $(document).on('change', '#activo', function(){
            let estado = $(this).val();
            if(estado == 'Activo'){
                estado=1;
            }
            else if(estado == 'Inactivo'){
                estado=0;
            }
            $('#tabla_tipo').DataTable().destroy();
            cargar_tipoprestamo(estado);
        });
    })

    $('#formTipo').on('submit', function(event) {
        event.preventDefault();
        let datosFormulario = $(this).serialize(); 
        $.ajax({
            url: '/admin/type',
            type: 'POST',
            data: datosFormulario,
            dataType: 'json',
            success: function(respuesta) {
                $('#tabla_tipo').DataTable().ajax.reload();
                Swal.fire({
                    title: 'Tipo de prestamo registrado',
                    text: respuesta.mensaje,
                    icon: 'success'
                });
                console.log(respuesta);
                $('#formTipo')[0].reset(); 
            },
            error: function(error) {
                Swal.fire({
                title: 'Error',
                text:  error.responseJSON.mensaje,
                icon: 'error'
                });
                console.log(error);
            }
        });
    });
    $(document).on('click', '.btn-edit', function() {
        const id = $(this).data('id');
        $.ajax({
        url: '/admin/edit_type/' + id,
        dataType: 'json',
        type: 'GET',
        success: function(resultado) {
            $('#actualizar_tipoprestamo input[name="act_idtipoprestamo"]').val(resultado.idtipoprestamo);
            $('#actualizar_tipoprestamo input[name="act_descripcion"]').val(resultado.descripcion);
            $('#tipoModal').modal('show');
        },
        error: function(err) {
            console.log(err);
        }
        });
    });

    $('#actualizar_tipoprestamo').on('submit', function(e) {
        e.preventDefault(); 
        let datosFormulario = $(this).serialize(); 
        $.ajax({
            url: '/admin/update_type',
            type: 'POST',
            data: datosFormulario,
            dataType: 'json',
            success: function(respuesta) {
                $('#tabla_tipo').DataTable().ajax.reload();
                $('#tipoModal').modal('hide');
                Swal.fire({
                    title: 'Tipo de prestamo actualizado',
                    text: respuesta.mensaje,
                    icon: 'success'
                });
                console.log(respuesta);  
            },
            error: function(error) {
                Swal.fire({
                    title: 'Error',
                    text:  error.responseJSON.mensaje,
                    icon: 'error'
                });
                console.log(error);
            }
        });
    });
</script>
<%- include('../layouts/footer') %>