<%- include('../layouts/header') %>
<form id="formUsuario">
    <div class="row mb-2" style="background: rgb(255, 255, 255); border-radius: 7px; padding-top: 10px;">
        <p style="font-weight: 400; color: #000; font-size: 18px;">Ingresar nuevo usuario</p>
        <div class="col-md-6 ">
            <div class="form-group mb-3">
                <label for="usuario" class="form-label">Usuario</label>
                <input type="text" class="form-control form-control-sm" id="usuario" name="usuario" placeholder="Digite un usuario">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group mb-4">
                <label for="contrasena" class="form-label">Contraseña</label>
                <input type="password" class="form-control  form-control-sm" id="contrasena" name="contrasena" placeholder="Digite una contraseña">
            </div>
        </div>
        <div class="col-md-2">
            <div class="mb-2">
                <button type="submit" class="submit">Agregar</button>
            </div>
        </div>
    </div>
</form>
<div class="row mb-2 pb-2" style="background: rgb(255, 255, 255); border-radius: 7px; padding-top: 10px;">
    <div class="col-md-6 pt-2 pb-2">
        <div class="form-group">
            <select id="activo" class="form-control form-control-sm">    
                <option value="1">Activo</option>
                <option value="0">Inactivo</option>
            </select>
        </div>
    </div>
    <div class="col-md-6 pt-2 pb-2">
        <input type="text" class="form-control form-control-sm" placeholder="Buscar" id="buscar">
    </div>
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-hover table-sm" id="tabla_usuario" style="width: 100%;">
                <thead>
                    <tr>
                        <th scope="col">Usuario</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody class="table-striped">
                </tbody>
            </table>
        </div>
    </div>
</div> 

<div class="modal fade" id="usuarioModal" tabindex="-1" aria-labelledby="usuarioModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="usuarioModalLabel">Actualizar Usuario</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form id="actualizar_usuario">
                <div class="mb-3">
                    <input type="hidden" class="form-control" id="act_idusuario" name="act_idusuario">
                </div>
                <div class="form-group mb-3">
                    <label for="act_ciudad" class="form-label mb-2">Usuario</label>
                    <input type="text" class="form-control" id="act_usuario" name="act_usuario">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Actualizar</button>
                </div>       
            </form>
        </div>
      </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        // muestra el loader antes de enviar la solicitud Ajax
        $(document).ajaxStart(function() {
            $('#loading-screen').show();
        });

        // oculta el loader después de recibir la respuesta
        $(document).ajaxStop(function() {
            $('#loading-screen').hide();
        });

        cargar_usuario(1);
        function cargar_usuario(estado){
            $('#tabla_usuario').DataTable({
                columnDefs: [
                { "orderable": false, "targets": [1, 2] } 
                ],
                lengthChange: false,
                info: false,
                scrollX: true,
                scrollCollapse: true,
                ajax: {
                    url: '/admin/table_users/'+ estado,
                    dataSrc: ''
                },
                columns: [
                    { data: 'usuario',  className: 'text-center'  },
                    {
                    data: null,
                    render: function(data, type, row) {

                        if(data.estado == 1){
                            return  `<button style="border:none; background-color: transparent;" class="btn-state" data-id="` + data.idusuario + `"><i class="fa-regular fa-circle-check" style="font-size: 16px; color: slateblue;"></i></button>`;
                        }
                        else{
                            return `<button style="border:none; background-color: transparent;" class="btn-state" data-id="` + data.idusuario + `"><i class="fa-regular fa-circle-check" style="font-size: 16px; color: red;"></i></button>`;
                        }
                    },
                    className: 'text-center'
                    },
                    {
                    data: null,
                    render: function(data, type, row) {
                        return `<button style="border:none; background-color: transparent;" class="btn-edit" data-id="` + data.idusuario + `"><i class="fa-solid fa-pen" style="font-size: 16px; color: #000;"></i></button>`;
                    },
                    className: 'text-center'
                    }
                ],       
                dom: 'lrtip',
                language: {
                    search: '',
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
                },
            });
        }

        $('#buscar').on('keyup', function () {
            $('#tabla_usuario').DataTable().search(this.value).draw();
        });

        $(document).on('change', '#activo', function(){
            let estado = $(this).val();
            if(estado == 'Activo'){
                estado=1;
            }
            else if(estado == 'Inactivo'){
                estado=0;
            }
            $('#tabla_usuario').DataTable().destroy();
            cargar_usuario(estado);
        });
    });

    $('#formUsuario').on('submit', function(event) {
        event.preventDefault();
        let datosFormulario = $(this).serialize(); 
        $.ajax({
            url: '/admin/users',
            type: 'POST',
            data: datosFormulario,
            dataType: 'json',
            success: function(respuesta) {
                $('#tabla_usuario').DataTable().ajax.reload();
                Swal.fire({
                    title: 'Usuario registrado',
                    text: respuesta.mensaje,
                    icon: 'success'
                });
                console.log(respuesta);
                $('#formUsuario')[0].reset(); 
            },
            error: function(error) {
                Swal.fire({
                title: 'Error',
                text:  error.responseJSON.mensaje,
                icon: 'error'
                });
                console.log(error);
            }
        });
    });

    $(document).on('click', '.btn-edit', function() {
        const id = $(this).data('id');
        $.ajax({
        url: '/admin/edit_users/' + id,
        dataType: 'json',
        type: 'GET',
        success: function(resultado) {
            $('#actualizar_usuario input[name="act_idusuario"]').val(resultado.idusuario);
            $('#actualizar_usuario input[name="act_usuario"]').val(resultado.usuario);
            $('#usuarioModal').modal('show');
        },
        error: function(err) {
            console.log(err);
        }
        });
    });

    $('#actualizar_usuario').on('submit', function(e) {
        e.preventDefault(); 
        let datosFormulario = $(this).serialize(); 
        let id = $('#actualizar_usuario input[name="act_idusuario"]').val();
        $.ajax({
            url: '/admin/update_users',
            type: 'POST',
            data: datosFormulario,
            dataType: 'json',
            success: function(respuesta) {
                $('#tabla_usuario').DataTable().ajax.reload();
                    $('#usuarioModal').modal('hide');
                    Swal.fire({
                        title: 'Usuario Actualizado',
                        text: respuesta.mensaje,
                        icon: 'success'
                    });
                    console.log(respuesta);   
            },
            error: function(error) {
                Swal.fire({
                    title: 'Error',
                    text:  error.responseJSON.mensaje,
                    icon: 'error'
                });
                console.log(error);
            }
        });
    });

    $(document).on('click', '.btn-state', function() {
        let id = $(this).data('id');
        Swal.fire({
            title: '¿Quieres actualizar el estado?',
            text: "¡No podrás revertir esto!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: '¡Sí, actualizar!',
            cancelButtonText: 'Cancelar'
        }).then((resultado) => {
            if (resultado.isConfirmed) {
                $.ajax({
                    url: '/admin/update_users_state/' + id,
                    dataType: 'json',
                    type: 'POST',
                    success: function(resultado) {
                        $('#tabla_usuario').DataTable().ajax.reload();
                        Swal.fire({
                            title: 'Estado Actualizado',
                            text: resultado.mensaje,
                            icon: 'success'
                        });
                        console.log(resultado);
                        },
                    error: function(error) {
                        Swal.fire({
                            title: 'Error',
                            text:  error.responseJSON.mensaje,
                            icon: 'error'
                        });
                    }
                });
            }
        });
    });
</script>

<%- include('../layouts/footer') %>