<!DOCTYPE html>
<!-- Designined by CodingLab | www.youtube.com/codinglabyt -->
<html lang="es" dir="ltr">

<head>
  <meta charset="UTF-8">
  <title> Administración del sistema </title>
  <link rel="stylesheet" href="/css/style.css">
  <!-- Boxiocns CDN Link -->
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Jquery-->
  <script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>
  
  <!-- DataTables-->
  <link href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css" rel="stylesheet"/>
  <link href="https://cdn.datatables.net/buttons/2.3.6/css/buttons.bootstrap5.min.css" rel="stylesheet"/>
   
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
  <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>
  <script src="https://cdn.datatables.net/buttons/2.3.6/js/dataTables.buttons.min.js"></script>
  <script src="https://cdn.datatables.net/buttons/2.3.6/js/buttons.bootstrap5.min.js"></script>
  <script src="https://cdn.datatables.net/buttons/2.3.6/js/buttons.html5.min.js"></script>
  <script src="https://cdn.datatables.net/buttons/2.3.6/js/buttons.print.min.js"></script>

  <script src="https://kit.fontawesome.com/a7c127014b.js" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://bootswatch.com/5/lux/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.min.js" integrity="sha384-heAjqF+bCxXpCWLa6Zhcp4fu20XoNIA98ecBC1YkdXhszjoejr5y9Q77hIrv8R9i" crossorigin="anonymous"></script>
  
  <!-- Mostramos un mensaje de éxito usando SweetAlert2 --> 
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.4/dist/sweetalert2.min.css">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.6/dist/sweetalert2.all.min.js"></script>
 
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>

  <style>
    .submit{
      border: none;
      outline: none;
      height: 37px;
      width: 100%;
      background: rgba(52, 117, 185, 0.9);
      border-radius: 5px;
      transition: .4s;
      color: #fff;
    }
    .submit:hover{
      background: rgba(37, 95, 156,0.9);
      color: #fff;
    }
  </style>
</head>

<body>
  <div id="loading-screen" style="display: none;">
    <img src="/img/spinning-circles.svg">
  </div>
  <div class="sidebar close">
    <div class="logo-details">
      <i class="fa-solid fa-sack-dollar" style="color: #ffffff; font-size: 19px; "></i>
      <span class="logo_name">CrediRápido</span>
    </div>
    <ul class="nav-links">
      <li>
        <a href="/admin/">
          <i class='bx bx-grid-alt'></i>
          <span class="link_name">Inicio</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">Inicio</a></li>
        </ul>
      </li>
      <li>
        <div class="iocn-link">
          <a href="#">
            <i class="fa-solid fa-plus" style="color: #ffffff; font-size: 19px; "></i>
            <span class="link_name">Catálogo</span>
          </a>
          <i class='bx bxs-chevron-down arrow'></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" href="#">Catálogo</a></li>
          <li><a href="/admin/client">Clientes</a></li>
          <li><a href="/admin/city">Ciudades</a></li>
          <li><a href="/admin/department">Departamentos</a></li>
          <li><a href="/admin/payshape">Forma de Pago</a></li>
          <li><a href="/admin/interest">Intereses</a></li>
          <li><a href="/admin/countries">Paises</a></li>
          <li><a href="/admin/role">Roles</a></li>
          <li><a href="/admin/type">Tipo prestamo</a></li>
          <li><a href="/admin/currency">Moneda</a></li>
          <li><a href="/admin/users">Usuarios</a></li>
        </ul>
      </li>
      <li>
        <div class="iocn-link">
          <a href="#">
            <i class="fa-solid fa-coins" style="color: #ffffff; font-size: 19px;"></i>
            <span class="link_name">Transacciones</span>
          </a>
          <i class='bx bxs-chevron-down arrow'></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" href="#">Transacciones</a></li>
          <li><a href="/admin/loan">Prestamos</a></li>
          <li><a href="/admin/payments">Pagos</a></li>
        </ul>
      </li>
      <li>
        <a href="/admin/reports">
          <i class="fa-solid fa-folder-open"></i>
          <span class="link_name">Reportes</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">Reportes</a></li>
        </ul>
      </li>
      <li>
        <a href="/admin/logout">
          <i class="fa-solid fa-arrow-right-from-bracket" style="font-size: 18px;"></i>
          <span class="link_name">Logout</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">Logout</a></li>
        </ul>
      </li>
      <li>
        <div class="profile-details">
          <div class="profile-content">
            <img style="width: 30px; height: 30px;" src="/img/perfil.png" alt="profileImg">
          </div>
          <div class="name-job">
            <div class="profile_name"></div>
            <div class="job"><%= usuario.name%></div>
          </div>
          <a href="/admin/logout">  <i class='bx bx-log-out'></i></a>
        </div>
      </li>
    </ul>
  </div>
  <section class="home-section">
    <div class="home-content">
      <i class='bx bx-menu'></i>
      <span  class="text" style="font-size: 15px; margin-left: auto;" id="fechaActualizada">
        <script>
          function actualizarFecha() {
            let fechaActual = new Date();
            // Días de la semana
            let diasSemana = ['Dom,', 'Lun,', 'Mar,', 'Mié,', 'Jue,', 'Vie,', 'Sáb,'];
            let diaSemana = diasSemana[fechaActual.getDay()];

            // Día del mes
            let diaMes = fechaActual.getDate();

            // Meses
            let meses = ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'];
            let mes = meses[fechaActual.getMonth()];

            // Hora y minutos
            let horas = fechaActual.getHours();
            let minutos = fechaActual.getMinutes();

            // Convertir a formato AM/PM
            let amPm = horas >= 12 ? 'PM' : 'AM';
            horas = horas % 12;
            horas = horas ? horas : 12;

            // Formato: Domingo 2 de Julio de 2023 4:30PM
            let formatoFechaHora = diaSemana + ' ' + diaMes + ' de ' + mes  + ' ' + horas + ':' + (minutos < 10 ? '0' + minutos : minutos) + amPm;

            document.getElementById('fechaActualizada').textContent = formatoFechaHora;
          }

          // Actualizar la fecha cada segundo (1000 milisegundos)
          setInterval(actualizarFecha, 1000);

          // Ejecutar la función por primera vez para mostrar la fecha inicial
          actualizarFecha();
        </script>
      </span>
    </div>
    <div class="home-main">
      <div class="container">
     
      
      
    
          
      